$card-title-font-size: 1rem;
$card-title-line-height: 1.5rem;

$card-text-font-size: 0.75rem;
$card-text-line-height: 1.25rem;

$list-item-min-height: 44px !default;
$list-item-title-font-size: 0.75rem;
$list-item-title-subtitle-line-height: 1.25rem;

$toolbar-content-padding-x: 12px;
